/* src/components/ToggleSwitch.module.css */
.toggleSwitch {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 20px;
    width: 55%;
}

.switch {
    width: 60px;
    height: 30px;
    background-color: #ddd;
    border-radius: 30px;
    margin: 0 10px;
    position: relative;
    cursor: pointer;
}

.toggle {
    width: 28px;
    height: 28px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    transition: transform 0.3s ease;
}

.left {
    transform: translateX(0);
}

.right {
    transform: translateX(30px);
}

span {
    font-size: 1rem;
    color: #888;
}

.active {
    color: #0056b3;
    font-weight: bold;
}
